footer{
    height: 42.7rem;
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
}
.footer-right{
    color: white;

}
.info{
    color:#666666;
    font-size: 1.4rem;
    margin-top: 4rem;
    line-height: 2.4rem;
    font-family: 'NotoSansCJKkr-DemiLight';
}

.footer-bottom{
display: flex;
justify-content: space-between;
margin-top: 8rem;
border-top: 1px solid #a68164;
font-family: 'NotoSansCJKkr-DemiLight';
}

.ft-btm-left{
display: flex;
}
.footer-right li{
    font-family: 'NotoSansCJKkr-DemiLight';
}
.footer-right li:not(:last-child):after{
    content:"";
    height: 0.5em;
    border-right: 1px solid #5a5959;
     margin-right: 2rem;
     margin-left: 2rem;
}
.ft-btm-left div{
color: #5a5959;
    padding-top: 3rem;
    margin-right: 2rem;
    font-family: 'NotoSansCJKkr-DemiLight';
}
.ft-btm-right{
padding-top: 3rem;

}
.ft-btm-right img{
margin-right: 1rem;
}

